/*CSS*/

body *{
	color: #929292;
	font-family: "Raleway";
}
p{
	color: #19161B;
}
li{
	list-style: none;
}
a:hover, a:active{
	text-decoration: none;
}

.rojo-logo{
	color: #A5152B;
}
.may{
	text-transform: uppercase;
}
.banner-bettina{
	/*background: red;*/
	padding: 0 15px 15px 15px;
	font-size: 12px;
}
.lang{
	text-align: right;
}
.lang .lang-active a, .active a{
	color: #A5152B;
}

.font-header-inf{
	font-size: 14px;
}
.logobettina{
	margin-left: 15px;
}
.description{
	line-height: 23px;
	word-spacing: 3px;
	letter-spacing: 3px;
	font-weight: bold;
	color: #19161B;
	text-align: right;
}

.brand{
	text-align: right;
	text-transform: uppercase;
}
.cesta{
	background:url('../img/cesta.png') scroll no-repeat right top transparent;
    height: 26px;
    padding-right: 30px;
    padding-top: 8px;
}
.lang .lang-menu a, .blog .blog-menu li a{
	padding: 0 7px;
}
.lang .lang-menu li{
	border-right: 1px solid grey;
	margin: 10px 0;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 0;
}
.lang-menu li:last-child{
	border:none;
}
.lang .lang-menu a:hover, .blog .blog-menu li a:hover{
	color: #A5152B;
	padding-left: 7px;
	padding-right: 7px;
	background: transparent;
}
.menu li{
	border-left: 1px solid grey;
}
.menu li:first-child{
	border: none;
	padding-right: 8px;
}
.blog-menu{
	margin-top: 10px;
}
.sblog{
	color: #A5152B;
}
/*SOCIAL*/
.social{
	padding-top: 7px;
	float: right;
	width: 150px;
}
.social li{
	width: 22px;
}
.social li a{
	background:url('../img/bg-social.png') scroll no-repeat 0 0 transparent;
	text-indent: -99000px;
	overflow: hidden;
	background-position: -2px 0;
    height: 22px;
    padding: 0;
    width: 22px;
}
.social li a:hover{	
	background:url('../img/bg-social.png') scroll no-repeat 0 0 transparent;
	height: 22px;
	border-radius: 0;
}
.social .face a{
	background-position:-2px 0;
}
.social .twitter a{
	background-position:-23px 0;
}
.social .instagram a{
	background-position:-44px 0;
}
.social .pinterest a{
	background-position:-65px 0;
}
.social .gplus a{
	background-position:-86px 0;
}


.social .face a:hover{
	background-position:-2px -23px;
}
.social .twitter a:hover{
	background-position:-23px -23px ;
}
.social .instagram a:hover{
	background-position:-44px -23px;
}
.social .pinterest a:hover{
	background-position:-65px -23px;
}
.social .gplus a:hover{
	background-position:-86px -23px;
}

/*SIDEBAR*/
/*Menu primary*/
.sidebar ul li{
	width: 100%;
	display: inline;
}
.sidebar li a{
	text-align: right;
}
.sidebar > .nav{
	text-transform: uppercase;
	line-height: 14px;
	font-size: 15px;
}
.sidebar .nav a{
	font-size: 15px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background: transparent;
	color: #929292;
	/*text-transform: uppercase;*/
}


a:hover, a:focus, .nav-pills > li.active > a:hover{
	color: #A5152B;
}
.sidebar .nav>li>a{
   padding-right: 10px;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color: transparent;
}
.caret{
	display: none;
}

.dropdown-menu{
	box-shadow: none;
    border: none;
    position: relative;
}
.dropdown-menu > li > a{
	text-transform: lowercase;
	color: #B6B7B8;
}
.dropdown-menu > li > a:hover{
	color: #A5152B;
	background: none;
}
.dropdown-menu a:first-letter{
	text-transform: uppercase;
}

.p-sidebar{
	color: grey;
	font-size: 13px;
	text-transform: uppercase;
	margin: 13px 10px 0 0;
}
.m-sidebar{
	margin-top: 50px;
}

.img-home{
	width: 100%;
}

/*FOOTER*/
.contact{
	display: inline;
	background:url('../img/mail.png') scroll no-repeat right 4px transparent;
	padding-right: 19px;
	color: #929292;
}
.widget{
	margin-top: 20px;
	padding-right: 0;
}
.widget ul{
	margin: 0;
}
.widget li{
	text-align: right;
}
.widget .active a{
	color: grey;
}
.widget .active a:hover{
	color: #A5152B;
}
.copyright{
	text-align: right;
	padding-right: 0;
}
.copyright *{
	color: #D6D7D8;
}

.menu li{
	text-transform: uppercase;
	display: inline;
}
.legal{
	text-align: right;
}
.legal li a{
	padding-left: 13px;
}

footer{
	margin-bottom: 30px;
}