/*CSS*/

body *{
	color: #B6B7B8;
	font-family: "Raleway";
}
p{
	color: #19161B;
}
li{
	list-style: none;
}
a:hover, a:active{
	text-decoration: none;
}

.rojo-logo{
	color: #A5152B;
}
.may{
	text-transform: uppercase;
}
.banner-bettina{
	/*background: red;*/
	padding: 0 15px 15px 15px;
	font-size: 12px;
}
.lang{
	text-align: right;
}
.lang .lang-active a, .active a{
	color: #A5152B;
}
.font-header-inf{
	font-size: 14px;
}
.logo{
	/*background: blue;*/
}
.description{
	line-height: 23px;
	word-spacing: 3px;
	letter-spacing: 3px;
	font-weight: bold;
	color: #19161B;
	/*background: green;*/
}

.brand{
	text-align: right;
	text-transform: uppercase;
}
.cesta{
	background:url('../img/cesta.png') scroll no-repeat right top transparent;
    height: 26px;
    padding-right: 30px;
    padding-top: 8px;
}
.lang .lang-menu a, .blog .blog-menu li a{
	padding-left: 5px;
}
.lang .lang-menu a:hover, .blog .blog-menu li a:hover{
	color: #A5152B;
	padding-left: 5px;
	background: transparent;
}
.sblog{
	color: #A5152B;
}
/*SOCIAL*/
.social{
	padding-top: 7px;
	float: right;
	width: 140px;
}
.social li{
	width: 20px;
}
.social li a{
	background:url('../img/bg-social.png') scroll no-repeat 0 0 transparent;
	max-height: 22px;
	text-indent: -99000px;
	overflow: hidden;
}
.social li a:hover{	
	background:url('../img/bg-social.png') scroll no-repeat 0 0 transparent;
	height: 22px;
	border-radius: 0;
}
.social .face a{
	background-position:-2px 0;
}
.social .twitter a{
	background-position:-24px 0;
}
.social .instagram a{
	background-position:-46px 0;
}
.social .pinterest a{
	background-position:-67px 0;
}
.social .gplus a{
	background-position:-88px 0;
}


.social .face a:hover{
	background-position:-2px -23px;
}
.social .twitter a:hover{
	background-position:-24px -23px ;
}
.social .instagram a:hover{
	background-position:-46px -23px;
}
.social .pinterest a:hover{
	background-position:-67px -23px;
}
.social .gplus a:hover{
	background-position:-88px -23px;
}

/*SIDEBAR*/
/*Menu primary*/
.sidebar ul li{
	width: 100%;
	display: inline;
}
.sidebar li a{
	text-align: right;
}
.sidebar > .nav{
	text-transform: uppercase;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background: transparent;
	color: #B6B7B8;
	/*text-transform: uppercase;*/
}


a:hover, a:focus, .nav-pills > li.active > a:hover{
	color: #A5152B;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color: transparent;
}
.caret{
	display: none;
}

.dropdown-menu{
	box-shadow: none;
    border: none;
    position: relative;
}
.dropdown-menu > li > a{
	text-transform: lowercase;
	color: #B6B7B8;
}
.dropdown-menu > li > a:hover{
	color: #A5152B;
	background: none;
}
.dropdown-menu a:first-letter{
	text-transform: uppercase;
}

.p-sidebar{
	color: grey;
	text-transform: uppercase;
	margin: 13px 13px 0 0;
}
.m-sidebar{
	margin-top: 50px;
}

.img-home{
	width: 100%;
}

/*FOOTER*/
.contact{
	display: inline;
	background:url('../img/mail.png') scroll no-repeat right 4px transparent;
	padding-right: 19px;
}
.widget{
	margin-top: 20px;
	padding-right: 0;
}
.widget ul{
	margin: 0;
}
.widget li{
	text-align: right;
}
.widget .active a{
	color: grey;
}
.widget .active a:hover{
	color: #A5152B;
}
.copyright{
	text-align: right;
	padding-right: 0;
}
.copyright *{
	color: #B6B7B8;
}

.menu li{
	text-transform: uppercase;
	display: inline;
}
.legal{
	text-align: right;
}
.legal li a{
	padding-left: 20px;
}